.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
    background-color: #DCDCDC;
}

.header-logo {
    height: 40px;
    object-fit: contain;
    width: 90px;
}

.header-icon {
    padding: 20px;
}

.test {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}